@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    min-width: 40%;
    background-image: url("images/leaves.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 2rem;
}

header .logo {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 9rem;
    margin-top: 8rem;
}

header .logo .logo_items {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Norse-Bold;
    font-size: 2rem;
}

header .logo .logo_image {
    width: 5rem;
    height: auto;
}

header .credit {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
}