@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 40%;
    background-image: url("images/leaves.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

header .logo {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 9rem;
    margin-top: 8rem;
}

header .logo_items {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Norse-Bold;
    font-size: 2rem;
}

header .logo_image {
    width: 5rem;
    height: auto;
}

header .credit {
    color: white;
    font-size: 0.7rem;
}

header a {
    color: white;
}

content {
    display: flex;
    flex-direction: column;
}

.descrition {
    height: 15rem;
    background-color: #F6F6F6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.descrition p {
    margin: 2rem;
    font-weight: bold;
    width: 72%;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    gap: 1rem;
    margin: 2rem;
}

form .input_field {
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.form h3,
.form .button {
    margin-left: 2rem;
}

.form hr {
    width: 100%;
    border: none;
    height: 3rem;
    box-shadow: 0 20px 10px -22px#333;
    margin: -50px 0 50px;
}

.form .create_account {
    margin-left: 2rem;
    font-size: 0.7rem;
}

.form a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}

.form button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    width: 9rem;
    height: 2rem;
    border: 0;
    border-radius: 5px;
}

.form button:hover {
    cursor: pointer;
}

input {
    border-style: solid;
    border-color: #E5E7EB;
    border-width: thin;
    border-radius: 4px;
    height: 1.3rem;
}

label {
    font-size: 0.6rem;
    font-weight: bold;
    color: gray;
}

#phone_number::-webkit-outer-spin-button,
#phone_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    border-color: #6495ED;
    outline: none;
    box-shadow: 1px 1px 3px gray;
}

.error {
    border-color: red;
}

.input_field #error_msg {
    font-size: 0.7rem;
    margin: 0;
    opacity: 0;
    color: red;
}